@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}

#background {
    height: 725px;
}
body {
    background-color: #fcfbfb; 
    font-size: 22px;
    font-family: Raleway, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(153, 181, 231);
}
nav a:hover {
    background-color: black;
    color: rgb(81, 197, 164);
}
.book, .join {
    background-color: aqua;
    text-decoration: none;
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;  
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: aqua;
}
#background{
    background-color: blueviolet;
}
.msg {
    background-color: aqua;
}
footer {
    background-color: aquamarine;
}
footer a {
    text-decoration: none;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
} 
footer p a:hover {
    text-decoration: underline;
}  
#hero-msg h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
}
.msg {
    background-color: #6f7364;
    line-height: 1.5em;
}
.msg p {
    font-size: 2rem;
}
h2 {
    margin: 0;
}
nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}
.home-title {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
}
.home-grid {
    margin: 20px;
}
.rivers-card , .camping-card , .rapids-card {
    margin: 30px;
}
.mountains {
    margin: 30px;
}
